* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    /*background: url("../../images/bck-img.jpg") no-repeat center fixed;*/
    /*background-size: cover;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
    outline: none;
}

/*   scroll   */

.stop-scrolling {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}

@media screen and (max-width: 992px) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.17em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: .83em;
    }

}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 1.17em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: .83em;
    }

    h4 {
        font-size: .67em;
    }

}
