.wrapper {
    width: 100%;
    height: 100%;
}

.wr-header,
.wr-content-1,
.wr-content-2,
.wr-content-3,
.wr-content-4 {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.wr-content-2,
.wr-content-3,
.wr-content-4,
.wr-footer {
    padding: 100px 0;
}

/*   wrapper-1   */

.wrapper-1 .navbar {
    overflow: hidden;
    position: fixed;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding: 20px;
}

.wrapper-1 .wr-header img {
    max-width: 200px;
}

.wrapper-1 .wr-left,
.wrapper-1 .wr-right {
    width: 100%;
    max-width: 50%;
}

.wrapper-1 .wr-left {
    padding: 0 5px;
}

.wrapper-1 .wr-right ul {
    justify-content: flex-end;
}

.wrapper-1 .wr-right a {
    padding: 0 5px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.wrapper-1 .wr-right a:hover,
.wrapper-1 .wr-right a:focus,
.wrapper-1 .wr-right a:active {
    filter: grayscale(0);
}

/*   wrapper-2  */

.wrapper-2 {
    margin-top: 88px;
    width: 100%;
}

/*   wrapper-content-1  */

.wrapper-2 .wr-content-1 {

}

/*   wrapper-content-2   */

.wrapper-2 .wr-content-2 {
    width: 100%;
    background: url("../../images/bck-img2.jpg") no-repeat center fixed;
    background-size: cover;
}

.wrapper-2 .box-items {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.wrapper-2 .box-item {
    width: 25%;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    transition: 0.3s;
}

.wrapper-2 .box-item:hover,
.wrapper-2 .box-item:focus,
.wrapper-2 .box-item:active {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.wrapper-2 .box-item:hover .box-footer a,
.wrapper-2 .box-item:focus .box-footer a,
.wrapper-2 .box-item:active .box-footer a {
    background-color: #fff;
    color: #000;
}

.wrapper-2 .box-item .box-header,
.wrapper-2 .box-item .box-middle {
    padding-bottom: 30px;
}

.wrapper-2 .box-header i {
    font-size: 3.5em;
}

.wrapper-2 .box-middle {
    padding: 0 20px;
    text-align: justify;
}

.wrapper-2 .box-footer a {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.wrapper-2 .box-footer a:hover,
.wrapper-2 .box-footer a:focus,
.wrapper-2 .box-footer a:active {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

/*   wrapper-content-3   */

.wrapper-2 .wr-content-3 {
    background: url("../../images/bck-img3.jpg") no-repeat center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/*   wrapper-content-4   */

.wrapper-2 .wr-content-4 {
    background: url("../../images/bck-img4.jpg") no-repeat center fixed;
    background-size: cover;
}

/*   wrapper-3   */

.wrapper-3 .wr-footer {
    width: 100%;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.wrapper-3 .wr-left,
.wrapper-3 .wr-right {
    width: 100%;
    max-width: 50%;
    height: auto;
    text-align: center;
    margin: 2em 0;
    padding: 0 4em;
}

.wrapper-3 .wr-left li,
.wrapper-3 .wr-right li {
    padding: 5px 0;
}

.wrapper-3 .wr-left li:nth-child(2) {
    text-align: justify;
}

/*   swiper   */

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
}

/*   lightbox   */

.lightbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightboxOverlay {
    outline: none;
}

.lightbox .lb-image {
    border: 1px solid rgba(255,255,255,0.1);
}

/*   slick   */

.slider-box {
    width: 100%;
    height: auto;
}

.slider-box img {
    max-width: 200px;
}

.slider-box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

/*   table   */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: rgba(0,0,0,0.4);
    color: #000;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #dddddd;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #ccc;
}

tr:nth-of-type(odd) {
    background-color: #eee;
    color: #000;
}

/*   back-to-top   */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #000;
    margin: 0;
    position: relative;
    left: 19px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #2888C9;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*   Loading   */

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000 url("../../images/loading.gif") no-repeat center;
}

/*   media   */

@media screen and (max-width: 992px) {

    .wrapper-1 .wr-left img {
        max-width: 170px;
    }

    .wrapper-1 .wr-right img {
        max-width: 26px;
    }

    .wrapper-2 .box-item {
        width: 50%;
    }

    .wrapper-2 .box-header i {
        font-size: 3em;
    }

    .wrapper-2 .box-footer a {
        font-size: .83em;
    }

}

@media screen and (max-width: 600px) {

    .wrapper-1 .navbar {
        flex-direction: column;
    }

    .wrapper-1 .wr-left,
    .wrapper-1 .wr-right,
    .wrapper-3 .wr-left,
    .wrapper-3 .wr-right {
        max-width: 100%;
    }

    .wrapper-1 .wr-left img {
        max-width: 140px;
    }

    .wrapper-1 .wr-right img {
        max-width: 20px;
    }

    .wrapper-1 .wr-left {
        justify-content: center;
    }

    .wrapper-1 .wr-right ul {
        justify-content: center;
    }

    .wrapper-2 .box-item {
        width: 100%;
    }

    .wrapper-2 .box-header i {
        font-size: 2.5em;
    }

    .wrapper-2 .box-footer a {
        font-size: .67em;
    }

    .wrapper-3 .wr-footer {
        flex-direction: column;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    table tr {
        margin: .625em 0;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        border: none;
        border-bottom: 1px solid #000;
        position: relative;
        padding-left: 50%;
        padding-top: 13px;
    }

    tr:nth-last-child(1) td:nth-last-child(1) {
        border-bottom: 0;
    }

    td:before {
        position: absolute;
        top: 13px;
        left: 0;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "First Name"; font-weight: bold;}
    td:nth-of-type(2):before { content: "Last Name"; font-weight: bold;}
    td:nth-of-type(3):before { content: "Job Title"; font-weight: bold;}
    td:nth-of-type(4):before { content: "First Name"; font-weight: bold;}
    td:nth-of-type(5):before { content: "Last Name"; font-weight: bold;}
    td:nth-of-type(6):before { content: "Job Title"; font-weight: bold;}

}